:root {
	/* colors */
	--primary-color: #15a884;
	--sigac-color: #ffb733;
	--barometre-color: #e43800;
	--gray-color: #545454;
	--white-color: #f9f9f9;
	--black-color: #080808;

	/* variables */
	--body-max-width: 760px;

	/* text */
	--body-font: 'Lora', serif;

	/* animations */
	--bezier: cubic-bezier(0.3333, 1, 0.6666, 1);
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	color: var(--black-color);
	background-color: var(--white-color);
	font-family: var(--body-font);
	font-size: 18px;
	line-height: 1.6;
}

button {
	cursor: pointer;
}

ul {
	margin-block-end: 1em;
}

.unlink {
	color: unset;
	text-decoration: none;
}

.uncolor {
	color: var(--gray-color) !important;
}

/*
==================
Keyframes
==================
*/

@keyframes oriolSlide {
	0% {
		transform: translateX(500px);
		opacity: 0
	}

	100% {
		transform: translateX(0);
		opacity: 1
	}
}

@keyframes seguraSlide {
	0% {
		transform: translateX(50px);
		opacity: 0
	}

	100% {
		transform: translateX(0);
		opacity: 1
	}
}

@keyframes ninoSlide {
	0% {
		transform: translateX(-500px);
		opacity: 0
	}

	100% {
		transform: translateX(0);
		opacity: 1
	}
}

@keyframes buttonSlide {
	0% {
		transform: translateY(100px);
		opacity: 0
	}
  
	100% {
		transform: translateX(0);
		opacity: 1
	}
}

/*
==================
Title
==================
*/

#title-content {
	position: relative;
	text-align: center;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: var(--black-color);
	color: var(--white-color);
	user-select: none;
}

#svg-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100vmax;

	& svg {
		overflow-clip-margin: content-box;
		overflow: hidden;

		& path {
			stroke: #222;
		}
	}
}

.center-vertical {
	position: relative;
	z-index: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title-oriol {
	font-size: 60pt;
	width: fit-content;
	padding-right: 4em;
	line-height: 1;
	animation: 3s var(--bezier) 0s 1 oriolSlide;
}

.title-segura {
	font-size: 35pt;
	width: fit-content;
	line-height: 1.5;
	animation: 3s var(--bezier) 0s 1 seguraSlide;
}

.title-nino {
	font-size: 60pt;
	width: fit-content;
	text-align: right;
	padding-left: 4em;
	line-height: 1;
	animation: 3s var(--bezier) 0s 1 ninoSlide;
}

@media only screen and (max-width: 600px) {
	.title-oriol,
	.title-nino {
		font-size: 40pt;
		padding: 0;
	}

	.title-segura {
		font-size: 25pt;
		padding: 0;
	}
}

.short-screen-title {
	display: none;
	font-size: 35pt;
	text-align: center;
}

@media only screen and (max-height: 450px) {
	.title-oriol,
	.title-segura,
	.title-nino {
		display: none;
	}

	.short-screen-title {
		display: block;
	}
}

.buttons {
	width: 100%;
	max-width: 800px;
	padding: 50px 30px 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	gap: 30px 20px;
	flex-wrap: wrap;
	animation: 3s var(--bezier) 0s 1 buttonSlide;
}

.button {
	position: relative;
	font-size: 20pt;
	padding: 10px 24px;
	border-bottom: 4px solid var(--white-color);
	transition: 0.3s var(--bezier) all;
	cursor: pointer;

	&:hover {
		transform: translateY(-3px);
		background-color: var(--black-color);
		color: var(--primary-color);
		border-bottom: 4px solid var(--primary-color);

		& .button-outline {
			border: 4px solid var(--primary-color);
		}
	}
}

.button-outline {
	border: 4px solid transparent;
	position: absolute;
	inset: -4px 0;
	transition: 0.2s var(--bezier) all;
}

@media only screen and (max-width: 600px) {
	.buttons {
		padding-bottom: 60px;
		gap: 30px 50px;
	}

	.button {
		font-size: 20px;
		padding: 10px 16px;
		border-bottom: 3px solid var(--white-color);

		&:hover {
			border-bottom: 3px solid var(--primary-color);

			& .button-outline {
				border: 3px solid var(--primary-color);
			}
		}
	}

	.button-outline {
		border: 3px solid transparent;
		inset: -3px 0;
	}
}

@media only screen and (max-height: 450px) {
	.buttons {
		padding-bottom: 60px;
		padding-top: 20px;
	}

	.button {
		font-size: 20px;
		padding: 10px 16px;
		border-bottom: 3px solid var(--white-color);

		&:hover {
			border-bottom: 3px solid var(--primary-color);

			& .button-outline {
				border: 3px solid var(--primary-color);
			}
		}
	}

	.button-outline {
		border: 3px solid transparent;
		inset: -3px 0;
	}
}

/*
==================
Home
==================
*/

.not-title {
	background-color: var(--white-color);
	/* TODO: remove */
	min-height: 100vh;
	position: relative;
	z-index: 1;
}

/*
==================
Go To Top
==================
*/

#go-top-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	border: 4px solid var(--black-color);
	background-color: var(--black-color);
	color: var(--white-color);
	transition: 0.2s var(--bezier) background-color, color;
	z-index: 1000;

	& img {
		position: absolute;
		height: calc(100% - 10px);
		top: 5px;
		right: 5px;
		bottom: 5px;
		left: 5px;
		filter: invert();
	}

	&:hover {
		background-color: var(--white-color);

		& img {
			filter: none;
		}
	}
}

/*
==================
Navbar
==================
*/

header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 0 32px;
	padding: 0 50px;
	position: relative;
	background-color: var(--black-color);
	color: var(--white-color);
	box-shadow: 0 0 10px var(--black-color);
}

.header-title-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	font-size: 30px;
	margin: 8px 0;
}

#header-icon {
	width: 54px;
	height: 54px;
}

#header-title {
	position: relative;
}

#header-title-underline {
	position: absolute;
	left: 0;
	bottom: 8px;
	width: 250px;
	height: 2px;
	stroke: var(--white-color);
	stroke-width: 10px;
}

.header-nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 20px;
}

.header-nav-button {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px 20px;
	height: 100%;
	transition: 0.2s var(--bezier) color;

	&:hover {
		color: var(--primary-color);
	}
}

@media only screen and (max-width: 600px) {
	header {
		padding: 0 20px;
		justify-content: space-around;
	}
}

/*
==================
Main
==================
*/

.main-content {
	width: 100%;
	max-width: var(--body-max-width);
	padding: 30px;
	padding-bottom: 140px;
	box-sizing: border-box;
	margin: auto;

	&:empty {
		display: none;
	}

	& a {
		color: var(--primary-color);
	}

	& h1, h2, h3, h4, h5, h6 {
		margin-top: 1.5em;
		letter-spacing: 1px;
	}
}

@media only screen and (max-width: 800px) {
	.main-content {
		& h1, h2, h3, h4, h5, h6 {
			margin-top: 0;
		}
	}
}

/*
==================
Not Found
==================
*/

.not-found {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 32px;

	& h1 {
		font-size: 150pt;
		margin: 0 !important;
	}

	& h4 {
		font-size: 30pt;
		line-height: 0;
		margin: 0 !important;
	}
}

/*
==================
Projects
==================
*/

.project-header {
	justify-content: space-around;
}

.sigac {
	& a {
		color: var(--sigac-color);
	}

	& hr {
		border: 1px solid var(--sigac-color);
		margin-block-start: 3em;
		margin-block-end: 3em;
		width: 35%;
	}
}

.barometre {
	& a {
		color: var(--barometre-color);
	}

	& hr {
		border: 1px solid var(--barometre-color);
		margin-block-start: 3em;
		margin-block-end: 3em;
		width: 35%;
	}
}
